body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  ;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/* Nav Bar */

#title {
  background-color: #E4F9F5;
}

.linkedin {
  color: #66BFBF;
  width: 8rem;
}

.linkedin:hover {
  color: #30e3cb;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

.container-fluid {
  padding: 1.5% 15%;
}

/* Top Container */

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 0.01rem;
}

.top-cloud {
  width: 5rem;
  position: absolute;
  right: 350px;
  top: 40px;
  transition: ease all 1s;
}

.bottom-cloud {
  width: 5rem;
  position: absolute;
  left: 350px;
  bottom: 300px;
  transition: ease all 1s;
}

.laptop {
  width: 32rem;
  transition: ease all 1s;
}

.name {
  font-size: 7rem;
  transition: ease all 1s;
}

.description {
  font-size: 1.5rem;
  transition: ease all 1s;
}

@media (max-width: 1650px) {

  .name {
    font-size: 4rem;
    transition: ease all 1s;
  }

  .top-cloud {
    right: 150px;
    top: 35px;
    transition: ease all 1s;
  }

  .bottom-cloud {
    left: 150px;
    bottom: 250px;
    transition: ease all 1s;
  }

  .laptop {
    width: 25rem;
    transition: ease all 1s;
  }

}

@media (max-width: 1250px) {

  .name {
    font-size: 4rem;
    transition: ease all 1s;
  }

  .top-cloud {
    width: 3.75rem;
    right: 20px;
    top: 205px;
    transition: ease all 1s;
  }

  .bottom-cloud {
    width: 3.75rem;
    left: 20px;
    bottom: 420px;
    transition: ease all 1s;
  }

  .laptop {
    width: 25rem;
    transition: ease all 1s;
  }

}

@media (max-width: 700px) {

  .name {
    font-size: 4rem;
    transition: ease all 1s;
  }

  .top-cloud {
    width: 3.5rem;
    right: -20px;
    top: 235px;
    transition: ease all 1s;
  }

  .bottom-cloud {
    width: 3.5rem;
    left: -20px;
    bottom: 400px;
    transition: ease all 1s;
  }

  .laptop {
    width: 15rem;
    transition: ease all 1s;
  }

}

/* Middle Container */

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

/* Skills Section */

.skills {
  position: relative;
  padding-bottom: 0.001rem;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.said-img {
  width: 12rem;
  border-radius: 100% 100%;
}

.code-img {
  width: 15rem;
  float: left;
  margin-right: 30px;
}

.safety-img {
  width: 15rem;
  float: right;
  margin-left: 30px;
}

.system-img {
  width: 15rem;
  float: left;
  margin-right: 30px;
}

/* Features Section */

.language-container {
  background-color: #66BFBF;
  padding: 3.5% 0 3.5% 0;
}

.software-container {
  padding: 3.5% 0 3.5% 0;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.language-title-h2 {
  color: #fff;
}

.language-title-h3 {
  font-family: 'Lilita One';
  font-size: 1.5rem;
  color: #fff;
}

#language-features {
  padding: 2% 15% 0;
}

.software-title-h3 {
  font-family: 'Lilita One';
  font-size: 1.5rem;
  color: #66BFBF;
}

#software-features {
  padding: 2% 15%;
}

.icon-website {
  color: #fff;
  margin-bottom: 1rem;
}

.icon-download {
  filter: invert(92%) sepia(11%) saturate(1781%) hue-rotate(134deg) brightness(78%) contrast(88%);
  margin-bottom: 1rem;
  width: 4rem;
}

.icon-website:hover {
  color: #30e3cb;
}

.icon-download:hover {
  filter: invert(99%) sepia(78%) saturate(1471%) hue-rotate(91deg) brightness(93%) contrast(90%);
}

/* Hobbies Section */

#hobbies {
  text-align: center;
  background: #66BFBF;
  color: #fff;
}

.hobbies-title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 50px;
}

.hobbies-paragraph {
  color: #fff;
  font-family: 'Lilita One';
  font-size: 3rem;
  line-height: 1.5;
}

.hobbies-image {
  width: 15rem;
}

.carousel-item {
  padding: 7% 15%;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(top bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(top bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Bottom Container */

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
